# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
env/
env311/
venv/
.venv/

# Node / React
chat-frontend/node_modules/
chat-frontend/.npm/
chat-frontend/.yarn/
chat-frontend/build/

# Git
.git/
.gitignore

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/